@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.btn{
  @apply border-2 border-black px-4 py-2;
}

.btn-banner{
  @apply bg-white text-black border-white hover:bg-gray-200 hover:border-gray-200;
}

.btn-primary{
  @apply bg-black text-white;
}
